<html>
  <body>
    <form action="verif-page" method="POST"     id="form_login">
      <div class = "loginstuff" id="lol">
        <p>   </p><input type="text" placeholder="Enter Username (must be alphanumeric)" name="uname" pattern="([A-z0-9À-ž\s]).{1,}" required>
        <br><br><br>
        <input type="password" placeholder="Enter Password (must be alphanumeric)" name="psw" pattern="([A-z0-9À-ž\s]).{1,}" required>
        <br><br><br>
      </div>
      <div class="submit" align="center">
        <button type="submit">Login</button>
      </div>
    </form>

    <form action="registerpage" method="POST">
      <div class = "loginstuff" id="lol">
        <p>   </p><p>   </p><input type="text" placeholder="Enter Username (must be alphanumeric)" name="uname" pattern="([A-z0-9À-ž\s]).{1,}" required>
        <br><br><br>
        <input type="password" placeholder="Enter Password (must be alphanumeric)" name="psw" pattern="([A-z0-9À-ž\s]).{1,}" required>
        <br><br><br>
      </div>
      <div class="sumbit" align="center">
        <button type="submit">Register</button>
      </div>
    </form>
  </body>
</html>